@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-primary: #6366f1;
  --color-brand-primary-dark: #4f46e5;
  --color-brand-secondary: #10b981;
  --color-brand-black: #020203;
  --color-brand-surface: #18181b;
  --color-brand-surface-light: #27272a;
  --color-brand-border: #27272a;
}

@layer base {
  body {
    @apply bg-brand-black text-zinc-100 antialiased font-sans;
  }
}

@layer components {
  .bento-card {
    @apply bg-brand-surface border border-brand-border rounded-[2rem] overflow-hidden;
  }
}
